.submit-button {
    min-height: 40px;
    min-width: 88px;
    line-height: 40px;
    text-align: center;
    height: 3em;
    width: 15em;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background-color: rgb(0, 151, 167);
    // border: 2px solid rgb(0, 151, 167);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    border-radius: 2px;
    margin: 10px;
}

.cancel-button {
    min-height: 40px;
    min-width: 88px;
    line-height: 40px;
    text-align: center;
    height: 3em;
    width: 15em;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background-color: rgb(205, 44, 44);

    // border: 2px solid rgb(0, 151, 167);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    border-radius: 2px;
    margin: 10px;
}
