.table-from-excel {
    &__headers {
        display: grid;
        grid-template-columns: 1fr 12fr 1fr 1fr;

        grid-column-gap: 10px;
        font-weight: bold;
        font-size: 14px;
        height: 49px;
        background-color: white;
        border: 1px solid rgba(0, 0, 0, 0.2);
    }

    &__body {
        display: grid;
        grid-template-columns: 1fr;

        text-align: center;
    }

    &__item {
        background-color: white;
        border: 1px solid rgba(0, 0, 0, 0.2);
        font-size: 14px;
        display: grid;

        grid-template-columns: 1fr 12fr 1fr 1fr;
        height: 49px;
        grid-column-gap: 10px;
        text-align: center;
    }

    &__column {
        display: flex;
        align-items: center;
        justify-content: center;

        &_left {
            display: flex;
            align-items: center;
            text-align: left;
        }
    }

    &__header {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
